# Settings for kubewarden-controller.

# nameOverride Replaces the release name of the chart in Chart.yaml file when
# this is used to construct Kubernetes object names
nameOverride: ""
# fullnameOverride completely replaces the generated release name
fullnameOverride: ""
# Secrets to pull container images from private registries
imagePullSecrets: []
# -- Additional labels to add to all resources
additionalLabels: {}
#   app: kubewarden-controller

# -- Additional annotations to add to all resources
additionalAnnotations: {}
#   owner: IT-group1

# SecurityContext to be used in the controller container. The content of
# the containerSecurityContext will be set directly as the securityContext
# of the container
containerSecurityContext:
  allowPrivilegeEscalation: false
# SecurityContext to be used in the controller pod. The content of
# the podSecurityContext will be set directly as the securityContext
# of the pod
podSecurityContext:
  runAsNonRoot: true
preDeleteHook:
  # SecurityContext to be used in the pre-delete-hook job container and pod.
  # The content of the next fields will be set directly as the securityContext
  # of the container and pod used in the pre-delete-hook job.
  containerSecurityContext:
    allowPrivilegeEscalation: false
  podSecurityContext:
    runAsNonRoot: true
# open-telemetry options
telemetry:
  enabled: False
  metrics:
    port: 8080
  tracing:
    jaeger: {}
    # Jaeger endpoint to send traces to
    # endpoint: "all-in-one-collector.jaeger.svc.cluster.local:14250"
    # tls:
    #  insecure: true
image:
  # The registry is defined in the common.cattle.systemDefaultRegistry value
  # controller image to be used
  repository: "kubewarden/kubewarden-controller"
  # image tag
  tag: "v1.6.0"
preDeleteJob:
  image:
    # The registry is defined in the common.cattle.systemDefaultRegistry value
    # kubectl image to be used in the pre-delete helm hook
    repository: "kubewarden/kubectl"
    tag: "v1.25.9"
# kubewarden-controller deployment settings:
podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
tls:
  # source options:
  # - "cert-manager-self-signed": Scaffold cert-manager integration, and create
  #   a self-signed certificate with a cert-manager self-signed Issuer. Depends
  #   on cert-manager. (default)
  # - "cert-manager": Scafffold cert-manager integration. User configures their
  #   own Issuer. Depends on cert-manager. Set tls.certManagerIssuerName to the
  #   desired Issuer.
  source: cert-manager-self-signed
  # "cert-manager"-only options:
  certManagerIssuerName: ""
## Resource limits & requests
## Ref: https://kubernetes.io/docs/user-guide/compute-resources/
resources:
  controller:
    limits:
      cpu: 500m
      memory: 50Mi
    requests:
      cpu: 250m
      memory: 50Mi
