# Settings for kubewarden-controller.

# nameOverride Replaces the release name of the chart in Chart.yaml file when
# this is used to construct Kubernetes object names
nameOverride: ""
# fullnameOverride completely replaces the generated release name
fullnameOverride: ""

# Secrets to pull container images from private registries
imagePullSecrets: []

# open-telemetry options
telemetry:
  enabled: False
  metrics:
    port: 8080
  tracing:
    jaeger:
      {}
      # Jaeger endpoint to send traces to
      # endpoint: "all-in-one-collector.jaeger.svc.cluster.local:14250"
image:
  # controller image to be used
  repository: "ghcr.io/kubewarden/kubewarden-controller"
  # image tag
  tag: "v1.1.0"

preDeleteJob:
  image:
    # kubectl image to be used in the pre-delete helm hook
    repository: "ghcr.io/kubewarden/kubectl"
    tag: "v1.23.3"

# kubewarden-controller deployment settings:
podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}

tls:
  # source options:
  # - "cert-manager-self-signed": Scaffold cert-manager integration, and create
  #   a self-signed certificate with a cert-manager self-signed Issuer. Depends
  #   on cert-manager. (default)
  # - "cert-manager": Scafffold cert-manager integration. User configures their
  #   own Issuer. Depends on cert-manager. Set tls.certManagerIssuerName to the
  #   desired Issuer.
  source: cert-manager-self-signed
  # "cert-manager"-only options:
  certManagerIssuerName: ""

## Resource limits & requests
## Ref: https://kubernetes.io/docs/user-guide/compute-resources/
resources:
  controller:
    limits:
      cpu: 500m
      memory: 50Mi
    requests:
      cpu: 250m
      memory: 50Mi
