# Settings for kubewarden-controller.
nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

image:
  # controller image to be used. Leave empty to use
  # ghcr.io/kubewarden/kubewarden-controller
  repository: ""
  # image tag, leave empty to use chart's AppVersion
  tag: ""

podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}

# Policy Server settings
policyServer:
  replicaCount: 1
  image:
    repository: ghcr.io/kubewarden/policy-server
    tag: "v0.2.1"
  serviceAccountName: policy-server
# All permissions are cluster-wide. Even namespaced resources are
# granted access in all namespaces at this time.
  permissions:
  - apiGroup: ""
    resources:
    - namespaces
    - services
  - apiGroup: "networking.k8s.io"
    resources:
    - ingresses
