apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubewarden-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "kubewarden-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- range keys .Values.podAnnotations }}
        {{ . | quote }}: {{ get $.Values.podAnnotations . | quote}}
        {{- end }}
        {{- if or .Values.telemetry.metrics.enabled .Values.telemetry.tracing.enabled}}
        "sidecar.opentelemetry.io/inject": "true"
        {{- end }}
        {{- include "kubewarden-controller.annotations" . | nindent 8 }}
      labels:
        {{- include "kubewarden-controller.labels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- include "imagePullSecrets" .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubewarden-controller.serviceAccountName" . }}
      containers:
      - name: manager
        args:
        - --leader-elect
        - --deployments-namespace={{ .Release.Namespace }}
        {{- if .Values.global.policyServer.default.enabled }}
        - --default-policy-server={{ .Values.global.policyServer.default.name }}
        {{- end }}
       {{- if .Values.telemetry.metrics.enabled }}
        - --enable-metrics
       {{- end }}
       {{- if .Values.telemetry.tracing.enabled }}
        - --enable-tracing
       {{- end }}
        - --always-accept-admission-reviews-on-deployments-namespace
        command:
        - /manager
        {{- if .Values.telemetry.metrics.enabled }}
        env:
          - name: KUBEWARDEN_POLICY_SERVER_SERVICES_METRICS_PORT
            value: "{{ .Values.telemetry.metrics.port | default 8080 }}"
        {{- end }}
        image: '{{ template "system_default_registry" . }}{{ .Values.image.repository }}:{{ .Values.image.tag }}'
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        {{- if and .Values.resources .Values.resources.controller }}
        resources:
{{ toYaml .Values.resources.controller | indent 10 }}
        {{- end }}
        {{- if .Values.containerSecurityContext }}
        securityContext:
{{ toYaml .Values.containerSecurityContext | indent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert
      {{- if .Values.podSecurityContext }}
      securityContext:
{{ toYaml .Values.podSecurityContext | indent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
