# generate certificates
{{ $dnsName :=  printf "%s-webhook-service.%s.svc" (include "kubewarden-controller.fullname" .) .Release.Namespace }}
{{ $ca := genCA "kubewarden-controller-ca" 365 }}
{{ $cert := genSignedCert $dnsName nil ( list $dnsName ) 3650 $ca }}
{{ $caCert := ($ca.Cert | b64enc) }}
{{ $oldCaCert := "" }}
{{ $caBundle := $caCert }}
{{ $caPrivateKey := ($ca.Key | b64enc) }}
{{ $serverCert := ($cert.Cert | b64enc) }}
{{ $serverPrivateKey := ($cert.Key | b64enc) }}
# check if the secrets already exist and if so, use the existing values
{{ $caSecret := (lookup "v1" "Secret" .Release.Namespace "kubewarden-ca") }}
{{ if $caSecret }}
{{ $caCert = (index $caSecret.data "ca.crt") }}
{{ $caPrivateKey = (index $caSecret.data "ca.key") }}
{{ $oldCaCert = (index $caSecret.data "old-ca.crt") }}
{{ $caBundle = printf "%s%s" ($caCert | b64dec) ($oldCaCert | b64dec) | b64enc }}
{{ end }}
{{ $serverCertSecret := (lookup "v1" "Secret" .Release.Namespace "kubewarden-webhook-server-cert") }}
{{ if $serverCertSecret }}
{{ $serverCert = (index $serverCertSecret.data "tls.crt") }}
{{ $serverPrivateKey = (index $serverCertSecret.data "tls.key") }}
{{ end }}
apiVersion: v1
kind: Secret
metadata:
  name: kubewarden-ca
  namespace: {{ .Release.Namespace }}
labels:
  {{- include "kubewarden-controller.labels" . | nindent 4 }}
data:
  ca.crt: {{ $caCert }}
  ca.key: {{ $caPrivateKey }}
  old-ca.crt: {{ $oldCaCert }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kubewarden-webhook-server-cert
  namespace: {{ .Release.Namespace }}
labels:
  {{- include "kubewarden-controller.labels" . | nindent 4 }}
data:
  tls.crt: {{ $serverCert }}
  tls.key: {{ $serverPrivateKey }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
  name: kubewarden-controller-mutating-webhook-configuration
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-policies-kubewarden-io-v1-clusteradmissionpolicy
  failurePolicy: Fail
  name: mclusteradmissionpolicy.kb.io
  rules:
  - apiGroups:
    - policies.kubewarden.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusteradmissionpolicies
  sideEffects: None
- admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-policies-kubewarden-io-v1-policyserver
  failurePolicy: Fail
  name: mpolicyserver.kb.io
  rules:
    - apiGroups:
        - policies.kubewarden.io
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - policyservers
  sideEffects: None
- admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-policies-kubewarden-io-v1-admissionpolicy
  failurePolicy: Fail
  name: madmissionpolicy.kb.io
  rules:
    - apiGroups:
        - policies.kubewarden.io
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - admissionpolicies
  sideEffects: None

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
  name: kubewarden-controller-validating-webhook-configuration
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-policies-kubewarden-io-v1-clusteradmissionpolicy
  failurePolicy: Fail
  name: vclusteradmissionpolicy.kb.io
  rules:
  - apiGroups:
    - policies.kubewarden.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusteradmissionpolicies
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-policies-kubewarden-io-v1-admissionpolicy
  failurePolicy: Fail
  name: vadmissionpolicy.kb.io
  rules:
  - apiGroups:
    - policies.kubewarden.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - admissionpolicies
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ $caBundle }}
    service:
      name: {{ include "kubewarden-controller.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-policies-kubewarden-io-v1-policyserver
  failurePolicy: Fail
  name: vpolicyserver.kb.io
  rules:
  - apiGroups:
    - policies.kubewarden.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - policyservers
  sideEffects: None
