{{ if .Values.recommendedPolicies.enabled }}
apiVersion: {{ $.Values.crdVersion }}
kind: ClusterAdmissionPolicy
metadata:
  labels:
    {{- include "kubewarden-defaults.labels" . | nindent 4 }}
    app.kubernetes.io/component: policy
  annotations:
    {{- include "kubewarden-defaults.annotations" . | nindent 4 }}
  name: {{ $.Values.recommendedPolicies.hostPathsPolicy.name }}
spec:
  mode: {{ $.Values.recommendedPolicies.defaultPolicyMode }}
  {{ $scope := dict "module" $.Values.recommendedPolicies.hostPathsPolicy.module "registry" $.Values.recommendedPolicies.defaultPoliciesRegistry "systemDefaultRegistry" $.Values.common.cattle.systemDefaultRegistry}}
  module: {{ template "policy-module" $scope }}
{{ include "policy-namespace-selector" . | indent 2}}
  rules:
  - apiGroups: [""]
    apiVersions: ["v1"]
    resources: ["pods"]
    operations:
    - CREATE
    - UPDATE
  mutating: false
  settings:
    allowedHostPaths:
{{- range .Values.recommendedPolicies.hostPathsPolicy.paths }}
    - pathPrefix:  {{ .pathPrefix | quote }}
      readOnly: {{ .readOnly  }}
{{- end }}
{{ end }}
