name: CI

on:
  push:
    branches:
      - "*"
    tags:
      - "v*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Adapted from https://github.com/d3adb5/helm-unittest-action/
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install helm-unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest
      - name: Set chart directories to test as environment variable
        run: |
          echo "CHARTS_TO_TEST=$(find . -type f -name 'Chart.yaml' -exec dirname {} \; | tr '\n' ' ')" >> $GITHUB_ENV
      - name: Run unit tests
        run: helm unittest --color ${{ env.CHARTS_TO_TEST }}
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check that the contents of common-values.yaml are included in values.yaml
        run: |
          make check-common-values
      - name: Run shellcheck in the shell scripts
        run: |
          make shellcheck
