name: CI

on:
  push:
    branches:
    - '*'
    tags:
    - 'v*'
  pull_request:
    branches:
    - '*'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check Helm generated values are up-to-date
        run: |
          make check-generated-values
